# Not required, helpful when debugging.
ipdb
ipython

# HTTP requests
requests==2.25.1

# Useful for requests debugging.
requests-toolbelt==0.9.1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
